<a href="https://colab.research.google.com/github/varsha943/Advanced-python/blob/main/internship_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
def function(i):
   print(i*2)

function(10)

20

In [28]:
def send_gift(recipients,gift):
  print(f"sending {gift} to {recipients}!")

send_gift("varsha","a camera")

sending a camera to varsha!

In [31]:
def send_gift(recipients,gift):
  print(f"sending {gift} to {recipients}!")
send_gift(gift="a camera",recipients="varsha")

sending a camera to varsha!

In [38]:
def book_trip(destination,transportation):
  print(f"booking {transportation} to {destination}!")
  book_trip(transportation="a flight",destination=" paris")

booking a flight to  paris!

In [48]:
#keyword
def book_trip(destination,transportation):
  print(f"booking {transportation} to {destination}!")
book_trip(transportation="flight", destination="paris")

booking flight to paris!

In [47]:
#default
def book_trip(destination,transportation="train"):
  print(f"booking {transportation} to {destination}!")
book_trip("paris","flight")

booking flight to paris!

In [53]:
#arbitary
def book_trip(*destination, transportation="train"):
  print(f"booking {transportation} to {destination}")
book_trip("paris","landon")

booking train to ('paris', 'landon')

In [ ]:
#default
def book_trip(destination,transportation="train"):
  print(f"booking {transportation} to {destination}!")
book_trip("paris")

In [59]:
#return function(print used)
def add_number(a,b):
   print(a+b)

result = add_number(5,5)

10

In [63]:
#return(return function used)
def add_number(a,b):
  return a+b

result= add_number(5,5)
final_answer = my_answer *2
print(final_answer)

NameError: name 'my_answer' is not defined

In [64]:
def add_ten(num):
  return num+18
my_result =add_ten(10)
final_answer=my_result*2
print(final_answer)

56

In [68]:
def square(x):
  sq=x*x
  return sq

square(5)

25

In [65]:
square=lambda x:x*x
square(5)

25

In [69]:
addition=lambda x,y :x+y
print(addition(10,20))

30

In [71]:
is_pass = lambda marks:"pass"if marks >40 else "fail"
is_pass(55)

'pass'

In [75]:
def square(x):
  sq =x*x
  return sq

numbers=[1,2,3,4,5]
squares=map(square,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [83]:
def square (x):
  sq = x*x
  return sq

numbers=[1,2,3,4,5]
squares=map(lambda x:x*x,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [84]:
list_a =[1,2,3]
list_b=[4,5,6]
sum_lists=list(map(lambda x,y:x+y ,list_a,list_b))
sum_lists

[5, 7, 9]

In [90]:
a=[1,8,-8,-4,-5,7]
negative_num=list(filter(lambda x:x>0,a))
negative_num

[1, 8, 7]